@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Lexend", sans-serif;
}
/* NAVBAR STYLING STARTS */
.navbar-nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* background-color: #05469a; */
  background: rgb(0, 143, 193);
  background: linear-gradient(
    90deg,
    rgba(0, 143, 193, 1) 0%,
    rgba(5, 70, 154, 1) 100%
  );
  color: #ffffff;
  padding-left: 15%;
  padding-right: 15%;
  /* box-shadow: rgba(130, 130, 130, 0.24) 0px 3px 8px; */
  z-index: 99;
  width: 100%;
}
.nav-links a {
  color: #ffffff;
  font-family: "Lexend", sans-serif;
}
/* LOGO */
.logo {
  width: 13%;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  align-items: center;
}
.menu li:hover {
  /* background-color: gray;
    border-radius: 5px;
    transition: 0.3s ease; */
}
.menu li {
  padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
  position: relative;
}
.dropdown {
  background-color: #4334;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}
.dropdown li + li {
  margin-top: 10px;
}
.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
/* .dropdown li:hover {
  background-color: rgba(148, 115, 115, 0.267);
} */
.services:hover .dropdown {
  display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
  top: 0;
  transition: all 2s;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
.btn-masuk {
  background-color: white;
  border: 1px solid #00357a;
  padding: 10px;
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 100;
  border-radius: 3px;
  color: #00357a;
  border-radius: 50px 0 0 50px;
  cursor: pointer;
}
.btn-daftar {
  background-color: #05469a;
  border: 1px solid transparent;
  color: white;
  padding: 10px;
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  margin-left: 10px;
  /* border-radius: 0 50px 50px 0; */
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-kelas {
  cursor: pointer;
}
.nav-program {
  cursor: pointer;
  color: white;
}
.nav-program:hover {
  color: white;
}
.nav-kelas:hover {
  color: white;
}
.nav-beranda:hover {
  color: white;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    right: 0;
    left: 0;
    top: 3.5rem;
    text-align: center;
    padding: 16px 0;
    height: 100vh;
    transition: 1s;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #ffffff;
    transition: 0.3s ease;
    background-color: #00357a;
    color: rgb(0, 0, 0);
    border-radius: 3px;
  }
  .menu li {
    margin-top: 12px;
    width: 100%;
    padding: 0;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
    transition: 10s;
  }
  .hamburger:hover {
    color: rgb(255, 255, 255);
    transition: color;
    transition-delay: 200ms;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #433354;
  }
  .logo {
    width: 40%;
  }
  .nav-kelas, .nav-program, .nav-beranda {
    color: black !important;
  }
}
