.delete-btn {
    background: #910128;
    border: 1px solid transparent;
    padding: 10px;
    font-family: "Lexend", sans-serif;
    color: white;
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}
.edit-btn {
    background-color: white;
    border: 1px solid #023b85;
    padding: 10px;
    font-family: "Lexend", sans-serif;
    color: #023b85;
    border-radius: 5px;
    width: 40%;
    /* margin-top: 5px; */
    margin-left: 5px;
}
.add-btn {
    background-color: green;
    border: 1px solid transparent;
    padding: 10px;
    font-family: "Lexend", sans-serif;
    color: white;
    border-radius: 5px;
    color: white;
    width: 81%;
    cursor: pointer;
    width: 100px;
}
.padding-table {
    padding-left: 15%;
    padding-right: 5%;
}